**`for` LOOPS**

In [1]:
#for x in iterable:
    # do something

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,10]

for item in my_list:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [4]:
for item in my_list:
    print(f'{item *2}')

2
4
6
8
10
12
14
16
18
20

In [5]:
for item in my_list:
    if item % 2 == 0:
        print(f'{item} is an even number')

2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number

**Looping over string**

In [6]:
my_string = 'Amala ati ewedu'
for letter in my_string:
    print(letter)

A
m
a
l
a

a
t
i

e
w
e
d
u

**Looping over a Dictionary**

In [7]:
user = {'Name': 'Phil Dunphy', 'Job': 'Real Estate Agent', 'Marital Status': 'Married'}

for item in user:
    print(item)

Name
Job
Marital Status

In [8]:
for key, value in user.items():
    print(f'{key} is {value}')

Name is Phil Dunphy
Job is Real Estate Agent
Marital Status is Married

**Extracting Multiple Values in a Tuple While Looping**

In [9]:
list_of_tuples = [('0-12 months', 'Infant'), ('1-3 years', 'Toddlers'), ('5-13 years', 'Children'), ('13-18', 'Teenagers'), ('18 and above', 'Adults')]
list_of_tuples

[('0-12 months', 'Infant'),
 ('1-3 years', 'Toddlers'),
 ('5-13 years', 'Children'),
 ('13-18', 'Teenagers'),
 ('18 and above', 'Adults')]

In [10]:
for age_group, stages in list_of_tuples:
    print(f'{age_group} ----> {stages}')

0-12 months ----> Infant
1-3 years ----> Toddlers
5-13 years ----> Children
13-18 ----> Teenagers
18 and above ----> Adults

**Using `enumerate()` with Loops**

In [11]:
my_string

'Amala ati ewedu'

In [12]:
for position, letter in enumerate(my_string):
    print(f'{position} ---> {letter}')

0 ---> A
1 ---> m
2 ---> a
3 ---> l
4 ---> a
5 --->
6 ---> a
7 ---> t
8 ---> i
9 --->
10 ---> e
11 ---> w
12 ---> e
13 ---> d
14 ---> u

**WHILE LOOPS**

In [15]:
slap = 0
while slap <= 10:
    print(f'You have been slapped {slap} times')
    slap += 1

You have been slapped 0 times
You have been slapped 1 times
You have been slapped 2 times
You have been slapped 3 times
You have been slapped 4 times
You have been slapped 5 times
You have been slapped 6 times
You have been slapped 7 times
You have been slapped 8 times
You have been slapped 9 times
You have been slapped 10 times

**Breaking out of a while loop**

- using **`break`**

In [16]:
count = 0
while count < 10:
    if count == 4:
        print(f'{count = }')
        break
    print(count)
    count += 1

0
1
2
3
count = 4

In [18]:
list_of_tuples = [(250, 'Bread'), (500, 'Sardines'), (100, 'Eggs'), (200, 'Butter')]

for price, item in list_of_tuples:
    if item == 'Butter':
        print('Butter is found and availabe!')
        break
    print(f'{price} ---> {item}')

250 ---> Bread
500 ---> Sardines
100 ---> Eggs
Butter is found and availabe!

- using **`continue`**

In [19]:
for number in range(2,12):
    if number % 2 == 0:
        continue
    print(number)

3
5
7
9
11

In the code above, we loop over a range of numbers starting at 2 and ending at 11. For each number in
this range, you use the modulus operator, `%`, to get the remainder of the number divided by 2. If the
remainder is zero, it’s an even number and you use the `continue` statement to continue to the next
value in the sequence.<br> This effectively skips even numbers so that you only print out the odd ones.

**Loops & the `else` statement**

A little known feature about Python loops is that you can add an else statement to them like you do
with an if/else statement. The else statement only gets executed when no break statement occurs.<br>
Another way to look at it is that the else statement only executes if the loop completes successfully.
The primary use case for the else statement in a loop is for searching for an item in a collection.<br> You
could use the else statement to raise an exception if the item was not found, or create the missing
item, or whatever is appropriate for your use-case.<br>

Let’s look at a quick example:

In [49]:
my_list = [1,2,3]

In [50]:
for number in my_list:
    if number == 4:
        print('Found number 4!')
        break
    print(number)
else:
    print('Number 4 was not found')

1
2
3
Number 4 was not found

In [47]:
my_list2 = [1,2,3,4]

In [48]:
for number in my_list2:
    if number == 4:
        print('Found number 4!')
        break
    print(number)
else:
    print('Number 4 was not found')

1
2
3
Found number 4!

**Nested Loops**

In [51]:
nested_list = [['Gerald', 'March 23'], ['Elma', 'January 7'], ['Divine', 'September 14']]
nested_list

[['Gerald', 'March 23'], ['Elma', 'January 7'], ['Divine', 'September 14']]

In [60]:
for lst in nested_list:
    print(f'List = {lst}')
    for item in lst:
        print(f"Items in list ---> {item}")

List = ['Gerald', 'March 23']
Items in list ---> Gerald
Items in list ---> March 23
List = ['Elma', 'January 7']
Items in list ---> Elma
Items in list ---> January 7
List = ['Divine', 'September 14']
Items in list ---> Divine
Items in list ---> September 14